
body{
	background-color: #eeeeee;
}
.container{
	margin: 0 auto;
	max-width: 1440px;
	/*min-height: 1200px;*/
	display: flex;
	justify-content: space-between;
}

.box1{
	width: 40%;
	background-color: #f6f6f6;
	height: 800px;
	text-align: center;
	border-radius: 15px;
}

.box2{
	width: 59.9%;
	background-color: #eeeeee;
	height: 800px;
	border-radius: 15px;
}

.self-portrait{
	height: 200px;
	width: 200px;
	border-radius: 50%;
	margin-top: 40px;
}

.box1 h1{
	margin: 0 auto;
	font-family: Urbanist;
	font-weight: 700;
	font-size: 2.125rem;
	line-height: 40px;
	letter-spacing: -0.5px;
	padding: 8px 0px;
}

.tag{
	margin: 5px;
	font-size: 0.9rem;
	font-family: 'Urbanist', sans-serif;
	font-weight: normal;
}

button{
	border: 1px solid #000000;
	background: #050203;
	border-radius: 50px;
	margin: 20px auto;
	width: 380px;
	height: 45px;
	display: flex;
	justify-content: center;
	padding-top: 2.5%;
}
button img{
	width: 22px;
}
button a{
	font-size: 1rem;
	color: white;
	text-decoration: none;
	font-weight: 600;
	font-family: 'Urbanist', sans-serif;
}

.PersonalProfile {
	padding-left: 50px;
	padding-right: 50px;
	font-family: 'Urbanist', sans-serif;
	font-size: 1rem;
	text-indent: 2em;
	line-height: 150%;
}

.icons img{
	width: 30px;
}

.box2 h1{
	margin: 40px 42px auto;
	font-size: 2.125rem;
	font-family: 'Urbanist', sans-serif;
	font-weight: 700;
}

.box2 h2{
	margin: 0 42px auto;
	font-size: 18px;
	font-family: 'Urbanist', sans-serif;
	font-weight: 500;
}

ul{
	position: absolute;
	display: flex;
}
ul li{
	list-style: none;
}
ul li a{
	position: relative;
	display: block;
	color: grey;
	text-decoration: none;
	padding: 5px 5px;
	font-family: 'Urbanist', sans-serif;
	font-size: 18px;
	font-weight: 500;
}
ul li.active a{
	color: black;
	border-bottom: 5px solid black;
	transition: 0.5s ease;
}

.journalbox{
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	margin: 60px 30px auto;
}
.journalbox .card{
	position: relative;
	max-width: 650px;
	background: rgba(255,255,255,0.63);
	margin: 10px;
	padding: 15px;
	border-radius: 15px;
	display: flex;
	border: 2px solid white;
}
.slider-inner{
	max-width: 250px;
	height: 180px;
	position: relative;
	overflow: hidden;
	float: left;
	padding: 3px;
}
.slider-inner img{
	display: none;
	max-width: 250px;
	border-radius: 10px;
	/*flex: 0 0 250px;*/
}
.slider-inner img.imgActive1{
	display: inline-block;
}
.slider-inner img.imgActive2{
	display: inline-block;
}
.prev1, .next1{
	width: 15px;
	height: 15px;
	border-top: 2px solid rgba(0, 0, 0, .3);
	position: absolute;
}
.prev1{
	border-left: 2px solid rgba(0, 0, 0, .3);
	left: 5%;
	top: 47%;
	transform: rotate(-45deg);
	z-index: 100;
}
.next1{
	border-right: 2px solid rgba(0, 0, 0, .3);
	right: 62%;
	top: 47%;
	transform: rotate(45deg);
	z-index: 100;
}
.prev2, .next2{
	width: 15px;
	height: 15px;
	border-top: 2px solid rgba(0, 0, 0, .3);
	position: absolute;
}
.prev2{
	border-left: 2px solid rgba(0, 0, 0, .3);
	left: 5%;
	top: 47%;
	transform: rotate(-45deg);
	z-index: 100;
}
.next2{
	border-right: 2px solid rgba(0, 0, 0, .3);
	right: 62%;
	top: 47%;
	transform: rotate(45deg);
	z-index: 100;
}
.journalbox .card .content a{
	text-decoration: none;
	font-size: 1.5rem;
	font-weight: 700;
	color: #000000;
}
.journalbox .card .content p{
	margin: 8px auto -10px;
	font-size: 0.85rem;
}
.journalbox .card .content{
	margin-left: 20px;
	font-family: 'Urbanist', sans-serif;
	line-height: 150%;
}
.journalbox .card .content a:hover{
	text-decoration: underline;
}

.conferencebox{
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	margin: 60px 30px auto;
}
.conferencebox .card{
	position: relative;
	max-width: 650px;
	background: rgba(255,255,255,0.63);
	margin: 10px;
	padding: 15px;
	border-radius: 15px;
	display: flex;
	border: 2px solid white;
}
.imgBx img{
	/*display: none;*/
	max-width: 250px;
	flex: 0 0 250px;
}
.conferencebox .card .content a{
	text-decoration: none;
	font-size: 1.5rem;
	font-weight: 700;
	color: #000000;
}
.conferencebox .card .content p{
	margin: 8px auto -10px;
	font-size: 0.85rem;
}
.conferencebox .card .content{
	margin-left: 20px;
	font-family: 'Urbanist', sans-serif;
	font-size: 1rem;
	line-height: 150%;
}
.conferencebox .card .content a:hover{
	text-decoration: underline;
}


@media (max-width: 1024px){
	button{
		width: 80%;
	}
	.journalbox .card{
		flex-direction: column;
		align-items: center;
		max-width: 350px;
		margin-left: auto;
		margin-right: auto;
	}
	.conferencebox .card{
		flex-direction: column;
		max-width: 350px;
		margin-left: auto;
		margin-right: auto;
	}
	.slider-inner{
		max-width: 330px;
		height: 240px;
	}
	.slider-inner img{
		max-width: 330px;
	}
	.imgBx img{
		max-width: 330px;
	}
	.journalbox .card .content{
		margin-left: 10px;
	}
	.conferencebox .card .content{
		margin-left: 0;
	}
	.journalbox .card .content a{
		font-size: 1.25rem;
	}
	.journalbox .card .content p{
		margin: 8px auto -10px;
		font-size: 0.75rem;
	}
	.conferencebox .card .content a{
		font-size: 1.25rem;
	}
	.conferencebox .card .content p{
		margin: 8px auto -10px;
		font-size: 0.75rem;
	}
	.prev2{
		left: 10%;
		top: 35%;
	}
	.next2{
		right: 10%;
		top: 35%;
	}
	.prev1{
		left: 10%;
		top: 35%;
	}
	.next1{
		right: 10%;
		top: 35%;
	}
}

@media (max-width: 800px){
	.container{
		flex-direction: column;
	}
	button{
		padding-top: 1%;
	}
	button img{
		width: 30px;
	}
	button a{
		font-size: 1.5rem;
	}
	.box1{
		width: 100%;
	}
	.box2{
		width: 100%;
	}
	.journalbox{
		flex-wrap: nowrap;
		justify-content: space-evenly;
	}
	.conferencebox{
		flex-wrap: nowrap;
		justify-content: space-evenly;
	}
	.journalbox .card{
		flex-direction: column;
		align-items: center;
		max-width: 300px;
		margin-left: auto;
		margin-right: auto;
		height: 420px;
		margin-top: 40px;
	}
	.conferencebox .card{
		flex-direction: column;
		align-items: center;
		max-width: 300px;
		margin-left: auto;
		margin-right: auto;
		height: 420px;
		margin-top: 40px;
	}
	.slider-inner{
		max-width: 290px;
	}
	.slider-inner img{
		max-width: 290px;
	}
	.imgBx img{
		max-width: 290px;
	}
	.journalbox .card .content{
		margin-top: -20px;
	}
	.conferencebox .card .content{
		margin-left: 10px;
		margin-top: 10px;
	}
	.box2 h1{
		display: none;
	}
	.box2 h2{
		display: none;
	}
	ul li a{
		font-size: 24px;
		padding: 15px 15px;
		margin-left: -20px;
	}
}

@media (max-width: 40em){
	.journalbox{
		flex-wrap: wrap;
	}
	.journalbox .card{
		margin-top: 60px;
	}
	.conferencebox .card{
		margin-top: 60px;
	}
	ul li a{
		font-size: 24px;
		padding: 20px 20px;
	}
}
@media (max-width: 420px){
	button{
		padding-top: 1.5%;
	}
	button img{
		width: 30px;
	}
}
